@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500&family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --height-title1 : 23rem;
    --height-title2 : 18rem;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family:'Poppins',
    sans-serif;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    width: 100%;
    display: block;
    object-fit:cover;
}


.menu-btn {
    position: fixed;
    top: 23px;
    left: 5px;
    background: aqua;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 5px;
    user-select: none;
    display: none;
    
}
.menu-btn:hover {
    cursor: pointer;
}

.search-bar {
    width: 100%;
    background-color: red;
    /* margin-top: 3rem; */
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #7ee8fa;
    background-image: linear-gradient(90deg,#7ee8fa,#050a30);
    position: relative;

}

.search-bar .profile-photo {
    position: absolute;
    right: 10px;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}
.search-bar .profile-photo:hover {
    cursor: pointer;
}
.search-bar .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.search-bar .logo {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 23px;
    left: 5px;
    overflow: hidden;
    border-radius: 50%;
    z-index:5;
    display: block;
}
.search-bar .logo:hover{
    cursor: pointer;
}
.search-bar .logo img {
    object-fit: cover;
    /* transform: scale(1.1); */
    /* object-position: 0 3.5px; */
}
.side-menu .top .logo {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 23px;
    left: 5px;
    overflow: hidden;
    border-radius: 50%;
    z-index:5;
    display: block;
}
.side-menu .top .logo:hover{
    cursor: pointer;
}
.side-menu .top .logo img {
    object-fit: cover;
    /* transform: scale(2.1); */
    /* object-position: 0 3px; */
}
.search-bar .search-box {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    height: 60%;
    max-width: 620px;
    
}
.search-bar .search-box input {
    width: 100%;
    border-radius: 20px;
    padding: 1rem 3rem;
    background: transparent;
}
.search-bar .search-box span {
    margin-right: 1rem;
    user-select: none;
}
.search-bar .search-box span:hover{
    cursor: pointer;
}

.side-menu {
    border-radius: 5px;
    border-top-left-radius: 0px;
    width: 15rem;
    background: linear-gradient(310deg,white 0%, #054A82 60%);
    height: 100vh;

    display: none;
    transition: all 400ms ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.show-menu {
    display: block;
}
.showmenu-edit {
    margin-left: 15rem;
}
.side-menu .top{
    position: relative;
    height: 80px;
    padding-top: 23px;
    padding-left: 1rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid white;
}
.side-menu .top .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    user-select: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0b0b0;
    letter-spacing: 2px;
}
.side-menu .top .close-btn:hover {
    background-color: #4d4d4d;
}
.side-menu .top .close-btn:hover {
    cursor: pointer;
}
.side-menu .top h3 {
    font-size: 1.6rem;
    color: white;
    font-family: 'Ubuntu',
    sans-serif;
    padding-left: 2rem;
    font-family: 'Khand',
    sans-serif;
}
.links {
    margin-top: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.links a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
    width: 100%;
    color: #ebebeb;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    transition: all 400ms ease;
}
.links a:hover {
    background:#41719c;
    transform: translateX(-15%);
} 
.links  a i {
    font-size: 1rem;
}


.title-section {
    width: 98%;
    overflow: hidden;
    height: 340px;
    padding: 1rem;


}
.title-section .title {
    border-radius: 10px;
    background: #d9d9d9;
    overflow: hidden;
    margin-bottom: 2px;
    /* width: 300px; */
    height: 275px;
    margin-right: 1rem;
}

.title-section .title .title-img {
    height: 80%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}
.title-section .title img{
    height: 100%;
    aspect-ratio:1/1 ;
    
}
.title-section .title h5 {
    padding-left: 1px;
    padding-right: 1px;
}
.title-section .title:hover img{
    animation: sideshow 800ms ease;
}

@keyframes sideshow {
    0%{
        transform: translateX(-50%);
        filter: saturate(0);
        
    }
    100%{
        transform: translateX(0);
        filter: saturate(1);
    }
}
.title-section .title h5 {
    text-align: center;
    margin-top: 0.7rem;
    color: #545454;

}
.title-section .title:hover{
    box-shadow:0 3rem 3rem rgba(0,0,0,0.3);
}
.swiper-pagination {
    padding-top: 1rem;
}
.title-section .swiper-wrapper {
    align-items: center;
    width: 100%;
}



.swiper {
    margin-top: 2rem;
    width: 78%;
    padding: 1rem 3rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;

}
.swiper h4 {
    padding: 10px 2px;
    color:#2a2b2b;
    font-size:1.4rem;
}

.swiper .swiper-button-next {
    transform: translateX(1px);
    margin-top: -9px;
    padding-left: 4rem;
    font-weight: bold;
    user-select: none;
    font-size: 1rem;
    z-index: 5;
}
.swiper .swiper-button-prev {
    margin-top: -9px;
    padding-right: 4rem;
    user-select: none;
    font-weight: bold;
}
.swiper .society h5 {
    width: 3rem;
    width: fit-content;
    white-space: nowrap;
}
.swiper .society {
    width: fit-content;
    height: fit-content;
    padding: 5px 1rem;
    border-radius: 8px;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper .society:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.swiper-slide h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #626363;
    text-overflow: ellipsis;
}
.society-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}
.society-img img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* section {
    width: 80%;
    margin: 0 auto;
    background: transparent;
}
section h4 {
    width: 100%;
    text-align: center; */
    /* padding-bottom: 1rem; */
    /* color:#6f706f;
    font-size: 30px;
}
section .societies-box {
    width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow-x: hidden;
    flex-wrap:wrap;
    margin-top: 1rem;
    height: fit-content;
    padding-top: 1rem;
    border-radius: 5px;
}
section .societies-box .society {
    padding: 5px 9px;
    border-radius: 8px;
    transition: all 400ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .societies-box .society:hover {
    transition: all 400ms ease;
        transform: scale(1.2);
        font-size: 14px;
 
}


section .societies-box 


section .societies-box .society-img img{
    width: 100%;
    height: 100%;
    object-position: center;
} */
.bottom-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem !important;
    position:fixed !important;
    bottom: 0 !important;
    width: 100%;
    height: 4rem;
    transition: all 400ms ease;
    background: #e8e9eb;
    
    z-index: 4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom-menu .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    color:#0454bd;
}
.bottom-menu .item:hover{
    cursor:pointer;
}
.bottom-menu .item i{
    font-size: 1.5rem;
}
.bottom-menu .item .post {
    background: #a1c2ed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: -5px;
}
#content-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width:80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content-container .content{
    background: aqua;

    margin: 0.5rem 0;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 1rem;
    background: #d6d6d6;
    width: 100%;
    max-width: 880px;
    
    position: relative;
}
#content-container .content p{
    padding: 1rem 2rem;
    color: black;
}
#content-container .content .notify {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    left: 5px;
    background: black;
    color: #b6b7b8;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border : 2px solid white;
}
#content-container .content .notify:hover{
    cursor: pointer;
}
#content-container .content .content-img{
    width: 100%;
    margin-bottom: 3px;
}
#content-container .content .content-img img{
    width: 100%;
    max-height: 410px;
}
#content-container .content h5 {
    font-size: 11px;
    padding-left: 0.4rem;
    color: #454545;
}
#content-container .content h5 {
    user-select: text;
}
#content-container .content:hover {
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3)
}
#content-container .page-toggle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin-top: 10px;
}
#content-container .page-toggle > button{
    background-image: linear-gradient(90deg,#050a30 10%,#3b3442 56%);
    padding: 10px 20px;
    border-radius: 5px;
    color: #c2c3c4;
    user-select: none;
    font-size: 20px;
}
#content-container .page-toggle>button:hover{
    cursor:pointer;
}

footer{
    background:#01172e;
    width: 100%;
    height: fit-content;
    color: white;
    padding: 1rem;
    font-weight: 300;
}footer .follow{
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}
footer .follow a {
    color: white;
}
footer .follow a i {
    font-size: 20px;
}
footer h6 {
    font-size: 13px;
    margin-bottom: 5px;
}
footer p {
    line-height: 1.3;
    font-size: 12px;
}



/* ************Add post****************** */

/* .add-post {
    position: fixed;
    bottom: 3rem;
    width: 100%;
    background: transparent;
    

}
.create-post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width:  350px;
    background: white;
    margin: 0 auto;
    z-index: 2;
}
.add-post h5 {
    text-align: center;
    width: 350px;
} */











@media screen and (min-width: 1201px) {
    .swiper .society {
        padding: 5px 2rem;
    }
    #content-container .content {
        max-height: 600px;
    }
    #content-container .content h5 {
        font-size: 1.5rem;
        text-align: center;
        
    }
    #content-container .contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    #content-container .content .content-img img {
        height: 400px;
    }
}

@media screen and (max-width:1200px) {
    .title-section{
        width: 90%;
        /* grid-template-columns: repeat(4,1fr);
        height: calc(var(--height-title2) + 25px); */
    }
    .swiper .swiper-button-next {
        display: none;
    }
    /* .title-section .title {
        height: var(--height-title2);
    } */
    
    .swiper .swiper-button-prev {
        display: none;
    }
    .swiper .society {
        padding: 5px 9px;
    }
    #content-container .content h5 {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 10px;
    }
    
    #content-container .contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }
    
    #content-container .content .content-img img {
        height: 380px;
    }
}


/* @media screen and (max-width: 1200px) {
    .title-section .title {
        width: 11rem;
        height: 15rem;
        gap: 0;
    } */
    /* section h4 {
        padding-left: 5%;
    }section .societies-box .society-img {
        width: 5rem;
        height: 5rem;
    }
    section .societies-box {
        height:145px ;
    } */
/* } */
@media screen and (max-width: 721px) {
    .swiper .society-img {
        width: 3.7rem;
        height: 3.7rem;

    }
} 

@media screen and (max-width: 600px) {
    /* .title-section{
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 10px;
        height: 185px;
        grid-template-columns: repeat(3,1fr);
    
    } */
    /* .title-section .title {
        height: 10rem;
        padding-bottom: 10px;
    } */
    .title-section {
        height: 220px;
        padding-top:0;
    }
    .title-section .title {
        height: 160px;
    }
    .title-section .title h5 {
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .search-bar .search-box{
        width: 70%;
    }
    #content-container {
        padding-top: 5px;
    }

    #content-container .contents {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #content-container .content .content-img img {
        height: 280px;
    }
    .contents a {
        border-radius: 10px;
        overflow: hidden;
    }
    #content-container .content p{
        padding: 10px 1rem 1rem 1rem;
        font-size: 12px;
    }
    #content-container .content h5{
        text-align: center;
        margin-top: 7px;
    }
    
    .side-menu{
        width: 10rem;
    }
    .showmenu-edit{
        margin-left: 0rem;
    }
    .side-menu .links a {
        font-size: 12px;
    }
    .links {
        gap: 0;
    }
    .swiper .swiper-button-next {
        display: none;
    }
    
    .swiper .swiper-button-prev {
        display: none;
    }
    .swiper {
        width: 92%;
    }
    .swiper h4 {
        font-size: 1rem;
    }
    .swiper .society h5 {
        width: 3rem;
    }
    .swiper .society {
        width: fit-content;
        height: fit-content;
        font-size: 14px;
        padding: 5px 9px;
    }
    .swiper .society .society-img{
        transform: scale(0.9);
        
    }
    /* section{
        width: 100%;
    }
    section h4 {
        padding-bottom: 5px;
    }
    section .societies-box .society-img {
        width: 2.4rem;
        height: 2.4rem;
    }
    section .societies-box {
        width: 100%;
        flex-wrap: nowrap;
        font-size: 12px;
    }
    section .societies-box {
        height: 103.4px;
        margin-top:-5px;
        padding: 5px 5px;
    }
    section .societies-box .society:hover h5{
        font-size: 9.5px;
    }
    section h4{
        padding-left: 5%;
    } */
    .content.container{
        width: 90%;
    }
    #content-container .page-toggle {
        width: 100vw;
    }
    #content-container .page-toggle>button {
        margin: 10px 15px;
        font-size: 16px;
        font-weight: bold;
    }
}
